{
  "ttl_fuzz_time": 99999999,
  "e2e_check": false,
  "sync_log": false,
  "verbose": false,
  "ssmode": false,
  "modules": {
    "cpuallocator": {
      "jazzer_cpu_ratio": 0,
      "jazzer_ncpu": 1,
      "cpubaseno": 0,
      "maxncpu": 2,
      "skipped_mods": []
    },
    "seedsharer": {
      "enabled": true,
      "sync_period": 60,
      "N_latest_seed": 100000
    },
    "crashmanager": {
      "enabled": true
    },
    "aixccjazzer": {
      "enabled": false,
      "keep_seed": true,
      "len_control": 100,
      "mem_size": 4096
    },
    "atljazzer": {
      "enabled": true,
      "beepseed_search": true,
      "keep_seed": true,
      "len_control": 0,
      "mem_size": 4096,
      "jacoco_cov_dump_period": 299,
      "deepgen_consumer": true
    },
    "atldirectedjazzer": {
      "enabled": false,
      "keep_seed": true,
      "len_control": 0,
      "beepseed_search": true,
      "exploration_time": 30,
      "directed_time": 60,
      "mem_size": 4096,
      "deepgen_consumer": false
    },
    "atllibafljazzer": {
      "enabled": false,
      "beepseed_search": true,
      "keep_seed": true,
      "mem_size": 4096
    },
    "seedmerger": {
      "enabled": false,
      "keep_seed": true,
      "len_control": 0,
      "mem_size": 8192
    },
    "llmpocgen": {
      "enabled": true,
      "mode": "crs",
      "diff_max_len": 17000,
      "worker_num": 6
    },
    "llmfuzzaug": {
      "enabled": false,
      "stuck_detection": 999,
      "verbose": false
    },
    "staticanalysis": {
      "enabled": false,
      "static_ana_phases": ["cha-0"],
      "schedule_interval": 300,
      "schedule_target_num": 5
    },
    "sinkmanager": {
      "enabled": false
    },
    "sariflistener": {
      "enabled": false
    },
    "diff_scheduler": {
      "enabled": false,
      "min_sched_time": 3600,
      "max_sched_time": 5400
    },
    "deepgen": {
      "enabled": false,
      "models": "gpt-5:5",
      "spa_interval": 1200,
      "spa_max_stuck_points": 3
    },
    "expkit": {
      "enabled": true,
      "exp_time": 300,
      "monitor_interval": 3,
      "gen_models": "gpt-5:1",
      "x_models": "o4-mini:1",
      "schedule_count": 2
    },
    "dictgen": {
      "enabled": false,
      "gen_models": "gpt-4o:1"
    },
    "codeql": {
      "enabled": false
    },
    "concolic": {
      "enabled": false,
      "num_instance": 1,
      "max_xms": 8192,
      "max_mem": 16384,
      "exec_timeout" : 1200,
      "generators": ["beepseed", "new-cov-seed", "dummy-seed"],
      "debug": false
    }
  }
}
